<div class="modal fade bs-example-modal-lg" id="signupModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Signup for Alpha-Blog</h4>
      </div>
      <div class="modal-body">
          <%= render 'shared/errors', obj: @user %>

          <%= form_for(@user, remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
                      <div class="form-group">
                      <div class="control-label col-sm-2">
                      
                        <%= f.label :username %>
                        </div>
                        <div class="col-sm-8">
                        <%= f.text_field :username, class: "form-control", placeholder: "Enter Username", autofocus: true %>
                        </div>
                      </div>

                      <div class="form-group">
                      <div class="control-label col-sm-2">
                        <%= f.label :email %>
                      </div>
                      <div class="col-sm-8">
                        <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
                      </div>
                      </div>
                      <div class="form-group">
                      <div class="control-label col-sm-2">
                        <%= f.label :password %>
                      </div>
                      <div class="col-sm-8">
                        <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
                      </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <%= f.submit(@user.new_record? ? "Signup" : "Update Account", class: 'btn btn-success btn-lg') %>
                      </div>
                      </div>

                    <% end %>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
          
    </div>      
  </div>
</div>              